/* font-family: 'Open Sans', sans-serif; */


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: rgb(214, 230, 228);
}

header {
    /* background-color: #5CB8FF; */
    padding: 10px;
    background: rgb(58, 87, 180);
    background: linear-gradient(270deg, rgba(58, 87, 180, 1) 0%, rgba(92, 184, 255, 1) 47%);
}

header h1 {
    color: rgb(31, 11, 206);
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    /* coloca el texto en linea con el logo */
    display: inline-block;
    position: relative;
    /* me sube el h1 desde abajo */
    bottom: 35px;
    /* me separa el h1 del logo */
    margin-left: 10px;

}

nav {
    background-color: #0609ad;
    margin-bottom: 20px;
}

nav ul {
    /* elimino los puntos de la lista */
    list-style: none;
    margin: 0;
    padding: 0;
    /* los coloca en posición horizontal dentro de la caja */
    display: flex;
}

nav ul li {
    /* separa las opciones en el menu */
    flex-grow: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(93, 134, 180, 0.973);
}

footer {
    background-color: rgb(192, 190, 190);
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}


nav ul li a.activo {
    background-color: rgba(93, 134, 180, 0.973);
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: #3638ad;
    font-weight: 400;
}

.Naturaleza {
    display: flex;
    justify-content: space-between;
}

.Actividad {
    border: 1px solid black;
    border-radius: 5px;
    width: 24%;
    text-align: left;
    padding: 7px;
    box-sizing: border-box;
    background-color: rgb(193, 221, 236);
}

.Actividad h3 {
    text-align: center;
    text-shadow: 0px 0px 39px rgba(15,71,210,0.7);
}

.Actividad img {
    border-radius: 5px;
    max-width: 215px;
    display: block;
    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.75);

}

.Actividad ul {
    font-size: 13px;
}

.img {
    border-radius: 15px;
    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.75);
}